button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	background: $color__background-button;
	border-radius: 4px;
	color: #fff;
	@include font-size(0.85);
	font-size: 0.85rem;
	font-family: "Lato";
	font-weight: 400;
	padding: .4rem .8rem;
	text-transform: uppercase;
	line-height: 1.7;
	display: inline-block;
	vertical-align: top;
	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}