@media screen and ( max-width: 480px ){
	div.postlist.row article .post-link{
		border: 1px solid #cecece
	}
}

@media screen and ( max-width: 550px ){ // this is where col-XS starts
	.post-nav {
		padding: 2rem 0.8rem;
		margin-top: 0rem;
		li.prev{
			margin-bottom: 40px;
		}
		li.prev, li.next {
			text-align: center;
		}
		
	}
	.post-nav.next-prev{
		ul:after{
			content: "";
			position: absolute;
			left: 41%;
			height: 2px;
			width: 80px;
			background-color: #ececec;
			top: 48%;
		}
	}
}

@media (min-width: 43.75em) {
	h1{@include font-size(4.453)}
	h2{@include font-size(3.498)}
	h3{@include font-size(3.327)}
	h4{@include font-size(2.299)}
	h1, h2, h3, h4 {line-height: 1.02;}
	p{@include font-size(1.25)}
}

@media (min-width: 56.25em) {
	h1{@include font-size(5.053)}
	h2{@include font-size(3.998)}
	h3{@include font-size(3.627)}
	h4{@include font-size(1.999)}
	h1, h2, h3, h4 {line-height: 1.175;}
	p{@include font-size(1.30)}
}