@media screen and ( min-height:860px ){
	h1 {
		top: 30%;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}

	h2 {
		top: 41%;
		-webkit-transition-delay: .6s;
		transition-delay: .6s;
	}

	.decsription-short-text {
		position: absolute;
		z-index: 105;
		left: 60px;
		top: 55%;
		width: 300px;
		font-size: 16px;
		line-height: 1.45;
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		color: white;
		opacity: 0;
		word-spacing: 2px;
		transform: matrix(1, 1, 0, 0, 0, 20);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	}    

	.decsription-short-text-active {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
	}  


	.explore-block {   
		position: absolute;
		width:265px;
		left: 55px;
		top: 67.8%;
		z-index: 101;
		-moz-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-o-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
	}


}


@media screen and ( min-height:960px ){
	h1 {
		top: 32%;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}

	h2 {
		top: 42%;
		-webkit-transition-delay: .6s;
		transition-delay: .6s;
	}

	.decsription-short-text {
		position: absolute;
		z-index: 105;
		left: 60px;
		top: 60%;
		width: 300px;
		font-size: 16px;
		line-height: 1.45;
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		color: white;
		opacity: 0;
		word-spacing: 2px;
		transform: matrix(1, 1, 0, 0, 0, 20);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	}    

	.decsription-short-text-active {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
	}  


	.explore-block {   
		position: absolute;
		width:265px;
		left: 55px;
		top: 54%;
		z-index: 101;
		-moz-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-o-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
	}
}

@media screen and ( min-height:1040px ){
	h1 {
		top: 30%;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}

	h2 {
		top: 39%;
		-webkit-transition-delay: .6s;
		transition-delay: .6s;
	}

	.decsription-short-text {
		position: absolute;
		z-index: 105;
		left: 60px;
		top: 56%;
		width: 300px;
		font-size: 16px;
		line-height: 1.45;
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		color: white;
		opacity: 0;
		word-spacing: 2px;
		transform: matrix(1, 1, 0, 0, 0, 20);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	}    

	.decsription-short-text-active {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
	}  


	.explore-block {   
		position: absolute;
		width:265px;
		left: 55px;
		top: 50%;
		z-index: 101;
		-moz-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-o-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
	}

}
@media screen and ( min-height:1100px ){
	h1 {
		top: 31%;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}

	h2 {
		top: 39%;
		-webkit-transition-delay: .6s;
		transition-delay: .6s;
	}

	.decsription-short-text {
		position: absolute;
		z-index: 105;
		left: 60px;
		top: 56%;
		width: 300px;
		font-size: 16px;
		line-height: 1.45;
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		color: white;
		opacity: 0;
		word-spacing: 2px;
		transform: matrix(1, 1, 0, 0, 0, 20);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transform: matrix(1, 0, 0, 1, 0, 20);
		-moz-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	}    

	.decsription-short-text-active {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transform: matrix(1, 0, 0, 1, 0, 0);
		-moz-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .9s cubic-bezier(0.7, 0.01, 0.3, 1);
	}  


	.explore-block {   
		position: absolute;
		width:265px;
		left: 55px;
		top: 50%;
		z-index: 101;
		-moz-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-o-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all .7s cubic-bezier(0.7, 0.01, 0.3, 1);
	}
	
}


@media screen and (max-width:767px) {

	.back-orange {
		font-family: 'Khula', sans-serif;
		font-weight: 600;
	}    

	.login{
		font-family: 'Khula', sans-serif;
		font-weight: 800;
		position: fixed;
		top:20px;
		right:80px;
		z-index: 100;
		color:white;
		font-size: 24px;
	}

	.login:hover{
		right:80px;
	}    

	.mobile-break {display: block;}
	.inner-link{width: calc(100% - 20px);text-align: center;margin: 50px auto 30px auto !important;left: 10px;}
	.inner-link-disable{width: calc(100% - 20px);text-align: center;margin: 50px auto 30px auto !important;left: 10px;}
	.mob-book{padding:50px;}    
	.img-inner-small{width:100%;display:block;margin:0 auto}
	.subheadline-text{font-size:1.5em;padding:0 10px 0 10px}  
	.mob-none{display:none}
	.margin-30-mob{margin: 30px 0}

	.aff-mob{left:-20px;}  

	.padding-left-20{padding: 0 20px !important;} 

	.aff-video-left{left:0px !important;}   

	#googleMap {
		position: relative;
		z-index: 3;
		width: calc(100% - 40px);
		height: 450px;
		margin: 30px auto 0px auto;
		display: block;
	}    

	.top-menu{    
		position: fixed;
		background: white;
		width:100vw;
		height:80px;
		left:0px;
		top:0px;
		z-index: 90;
		border-bottom:solid #f1f1f2 1px;
	}    

	.logo-body {
		top: 10px;
		left: 10px;
		z-index: 99;
	}

	.logo-body:hover {
		top: 10px;
		left: 10px;
		z-index: 99;
	}

	.logo-menu-icon{        
		z-index:101;
	}



	.js-slider .slider {
		position: relative;
		overflow: hidden;
		visibility: hidden;
		-ms-touch-action: none;
		touch-action: none;
		padding: 0 0 0 20px;
		width: calc(100% - 20px);
	}

	.slider-count {
		position: absolute;
		z-index: 4;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-size: 26px !important;
		bottom: 5px;
		right: 10px !important;
		text-align: center;
		color: #333;
		background: white;
		width: 100px !important;
		border-bottom: solid #fecc00 3px;
	}

	.paragraph-text {
		position: relative;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #333333;
		left: 0;
		font-size: 1.25em;
		line-height: 1.55;
		background-color: white;
		padding: 0 20px;
		margin: 20px 0 0 0;
		clear: both;
		z-index: 2;
	}

	.paragraph-head {
		position: relative;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #333333;
		left: 0;
		font-size: 1.7em;
		line-height: 1.55;
		background-color: white;
		padding: 20px 0 0 10px;
		margin:0;
		height:100%;
		clear: both;
		z-index: 2;
	}

	.quote-text {
		position: relative;
		font-family: 'Khula', sans-serif;
		font-weight: 800;
		color: #333333;
		letter-spacing: -2px;
		left: 0;
		font-size: 40px;
		line-height: 1.25;
		margin: 20px 0 30px 0;
		padding: 0 10px;
		width: 100%;
		height:100%;
		background-color: transparent;
		z-index: 2;
		clear: both;
		-ms-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	}

	.quote-text span{font-size: 20px;letter-spacing: 0px;float:right;padding-right:0px;z-index: 2;}

	h3.quote-text{
		position: relative;
		font-family: 'Khula', sans-serif;
		font-weight: 800;
		color: #333333;
		letter-spacing: 0px;
		left: 0;
		margin:30px 0 30px 0;
		text-align: right;
		font-size: 26px;
		line-height: 36px;
		float: right;
	}    

	.img-inner{width:100%;padding:0 20px}
	.video-inner{padding:0 !important;display:block;margin:30px auto 30px auto !important;height:100%;width:calc(100% - 40px);left:20px;}
	.img-inner-quote{width:calc(100% - 40px);display:block;margin:0 auto;padding: 0 !important}

	.mob-margin-bottom-30{margin:0 0 30px 0}

	.intro-quote{
		position: relative;
		font-family: 'Khula', sans-serif;
		font-weight: 800;
		color: #333333;
		letter-spacing: -2px;
		left: 0;
		font-size: 46px;
		line-height: 1.25;
		margin: 120px 0 20px 0;
		padding: 0 10px;
		width: 100%;
		height:100%;
		background-color: transparent;
		z-index: 2;
		opacity: 1;
		-ms-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	}

	.intro-quote span{
		font-size: 28px;
		letter-spacing: 0;
		float:right;
		z-index: 2;
		margin: 20px 0 0 0;
	}

	.decsription-short-text {
		display:none;
	}    

/* Sections
* --------------------------------------- */

.video {
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: 1;
	display: none;
}    


h1, h2 {
	position: absolute;
	font-family: 'Khula', sans-serif;
	font-weight: 800;
	left: 10px;
	font-size: 40px;
	color: #fff;
	height: 40px;
	z-index: 101;
	width: 100%;
	overflow: hidden;
	line-height: 3;
	letter-spacing: -1px;
	-moz-transition: line-height .6s cubic-bezier(.69, 0, .31, 1);
	-webkit-transition: line-height .6s cubic-bezier(.69, 0, .31, 1);
	transition: line-height .6s cubic-bezier(.69, 0, .31, 1);
}

h1 {
	top: 62%;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

h2 {
	top: 69%;
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
}

.section.active h1,
.section.active h2 {
	line-height: 1;
}    


.section {transform: scale(1, 1);}
.section-img {transform: scale(1, 1);}
.section-active{transform: scale(1, 1) !important;}

.section-blackout {
	display: none;
}

.section-blackout-active {
	background-color: rgba(0, 0, 0, 0);
	-ms-transition: all .6s cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-webkit-transition: all .6s cubic-bezier(0.785, 0.135, 0.150, 0.860);
	transition: all .6s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


#about-section{background-image: url(../imgs/slides/mobile/mobile_intro.jpg);background-position: bottom right;}
#about-section:before{content:"";background:linear-gradient(180deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));width:100%;height:100%;display:block;top:0;left:0;position:absolute;z-index: 10;}

#culture-section{background-image: url(../imgs/slides/mobile/mobile_culture.jpg);}
#culture-v:before {content:"";background:linear-gradient(180deg,rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#vishen-section{background-image: url(../imgs/slides/mobile/mobile_vishen.jpg);background-position:top left;}
#vishen-section:before {content:"";background:linear-gradient(180deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#book-section{background-image: url(../imgs/slides/mobile/mobile_book.jpg);background-position:top left;}
#book-section:before {content:"";background:linear-gradient(180deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#team-section{background-image: url(../imgs/slides/mobile/mobile_team.jpg);background-position:top left;}
#team-section:before {content:"";background:linear-gradient(180deg,rgba(0, 0, 0, 0), rgba(1, 25, 41, 0.75));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}



#mva-section{background-image: url(../imgs/slides/mobile/mobile_mva.jpg);background-position:top right;}
#mva-section:before {content:"";background:linear-gradient(-135deg,rgba(0, 0, 0, 0), rgba(1, 25, 41, 0.45));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#apps-section{background-image: url(../imgs/slides/mobile/mobile_apps.jpg);background-position:center right;}
#apps-section:before {content:"";background:linear-gradient(270deg,rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.35));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#events-section{background-image: url(../imgs/slides/mobile/mobile_afest.jpg);background-position:center right;}
#events-section:before {content:"";background:linear-gradient(-135deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#international-section{background-image: url(../imgs/slides/mobile/mobile_planets.jpg);background-position:bottom center;}
#international-section:before {content:"";background:linear-gradient(270deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#evercoach-section{background-image: url(../imgs/slides/mobile/mobile_evercoach.jpg);background-position:top right;}
#evercoach-section:before {content:"";background:linear-gradient(270deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#cs-section{background-image: url(../imgs/slides/mobile/mobile_cs.jpg);background-position:bottom center;}
#cs-section:before {content:"";background:linear-gradient(270deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}

#aff-section{background-image: url(../imgs/slides/mobile/mobile_aff.jpg);background-position:top right;}
#aff-section:before {content:"";background:linear-gradient(270deg,rgba(0, 0, 0, 0), rgba(1, 25, 41, 0.55));width:100%;height:100%;display:block;top:0;left:0;position:absolute;}





/* Headline-animation
* --------------------------------------- */ 


.CoverTitles-text {
	position: absolute;
	left: 10px;
	top: 60%;
	z-index: 105;
	font-family: 'Khula', sans-serif;
	font-weight: 800;
	color: #fff;
	letter-spacing: -1px;
	font-size: 42px;
	line-height: 65px;
}    

.CoverTitles-textLine-outer {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: -15px 0 0 0;
}

.CoverTitles-textLine-inner-first {
	position: relative;
	-ms-transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 90);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 90);
	-ms-transform: matrix(1, 0, 0, 1, 0, 90);
}

.CoverTitles-textLine-inner-second {
	position: relative;
	-ms-transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 90);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 90);
	-ms-transform: matrix(1, 0, 0, 1, 0, 90);
}

.active-title-first {
	-ms-transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all .5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
}

.active-title-second {
	-ms-transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all .6s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
}

.CoverTitles-cta-text {
	font-family: 'Khula', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
	top: 1px;
	left: 0;
	color: #fecc00;
	text-align: right;
	margin-left: 0px;
	letter-spacing: .75px;
	display: inline-block;
	opacity: 0;
	-ms-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);   
}

.CoverTitles-cta {
	position: relative;
	overflow: hidden;
	top: 6px;
	width: 120px;
	left: 3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
}  

.CoverTitles-cta-hover {
	position: relative;
	overflow: hidden;
	width: 120px;
	left: 3px;
	-ms-transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
}  

.active-cta {
	opacity: 1;
	-ms-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
}

.decsription-short-text {
	position: absolute;
	z-index: 105;
	left: 60px;
	top: 67%;
	width: 300px;
	font-size: 16px;
	line-height: 1.45;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: white;
	opacity: 0;
	word-spacing: 2px;
	transform: matrix(1, 1, 0, 0, 0, -20);
	-webkit-transform: matrix(1, 0, 0, 1, 0, -20);
	-ms-transform: matrix(1, 0, 0, 1, 0, -20);
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.decsription-short-text a{
	color: white;
	text-decoration:underline;
}

.decsription-short-text a:hover{
	color:#fecc00;
}

.decsription-short-text::after {
	width: 292px;
	height: 1px;
	font-size: 16px;
	background-color: white;
	top:-3px;
	opacity: 0;
	content: '';
	display: block;
	position: relative;
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
}

.decsription-short-text-active {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
}   

.decsription-short-text-active::after {
	width: 292px;
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0.01, 0.3, 1);
}  

/* Explore block
*--------------------------------------------------*/  

.explore-block {   
	position: fixed;
	width:215px;
	left: 10px;
	top: 78%;
	z-index: 101;
}

.arrow-explore {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: solid 2px white;
	display: block;
	position: relative;
	left: 130px;
	top: -20px;
	background-color: white;
	transform: scale(1, 1);
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.arrow-explore-hover {
	background-color:#fff;
	border: solid 2px #fff;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.arrow-explore:hover:after, .arrow-explore:hover:before {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.arrow-explore:after, .arrow-explore:before {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	opacity: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.arrow-explore:after {
	animation: sonar 2.5s infinite 1s;
	border: 1px solid rgba(255, 255, 255, .3);
}
.arrow-explore:before {
	animation: sonar 2.5s infinite 2.5s;
	border: 1px solid rgba(255, 255, 255, .1);
}
@keyframes sonar { 
	0% { transform: scale(1); opacity: 0; }
	50% { transform: scale(2); opacity: 1; }
	100% { transform: scale(3); opacity: 0; }
}

@-webkit-keyframes sonar { 
	0% { transform: scale(1); opacity: 0; }
	50% { transform: scale(2); opacity: 1; }
	100% { transform: scale(3); opacity: 0; }
}

.arrow-explore-active {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: solid 1px white;
	display: block;
	position: relative;
	left: 135px;
	top: -22px;
	opacity: 0;
	transform: scale(.01, .01);
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}



.CoverSubtitle-line {
	position: absolute;
	left: 138px;
	top: 16px;
	width: 0px;
	height: 0px;
	z-index: 10;
}


.CoverSubtitle-line::before {
	position: absolute;
	left: 13px;
	top: 3px;
	width: 10px;
	height: 2px;
	content: '';
	transform: rotate(-45deg);
	opacity: 1;
	background-color: #333;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.CoverSubtitle-line::after {
	position: absolute;
	left: 13px;
	top: -3px;
	width: 10px;
	height: 2px;
	content: attr(data-content);
	transform: rotate(45deg);
	background-color: #333;
	opacity: 1;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.active-line {
	width:40px;
	left:130px;
	transform: scale(1, 1);
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
} 

.hover-line {
	width: 0px;
	left: 215px;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.hover-line:before, .hover-line:after{
	background: #333;
	left:-72px;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}



/* Accordion */

.accordion {
	width: calc(100% - 80px);
	margin: 0 auto;
	background: #1c1c1c;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: fixed;
	top:0;
	right:-100%;
	z-index:120;
	height: 100vh;
	overflow-y: auto;
	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.accordion-active{
	right:0;       
	-ms-transition: all 0.4s cubic-bezier(.21, .01, 0, 1.01);
	-webkit-transition: all 0.4s cubic-bezier(.21, .01, 0, 1.01);
	transition: all 0.4s cubic-bezier(.21, .01, 0, 1.01);
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #909090;
	font-family: 'Khula', sans-serif;
	font-weight: 800;
	font-size: 22px;
	position: relative;
	text-transform: uppercase;
	z-index: 10;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.accordion .link:hover {color:#f1f1f2;}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #fff;
}

.accordion li.open i {
	color: #fff;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}


/*
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #141313;
 	font-family: 'Lato', sans-serif;
 	font-size: 18px;
 	font-weight: 400;
 	position:relative;
 	z-index:10;
 }

 .submenu li {
 	position: relative;
 	z-index: 5;
 }

 .submenu li a:before {
 	content:"";
 	background:#fff;
 	height: 0%;
 	width:3px;
 	position:absolute;
 	left:0;
 	top:15%;
 	-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu li.active a{
 	color:#fecc00;
 	-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .submenu li.active a:before{
 	content:"";
 	background:#fecc00;
 	height: 70%;
 	width:3px;
 	position:absolute;
 	left:0;
 	top:15%;
 	-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .submenu li.active a:hover{
 	color:#fecc00;
 	transform: matrix(1, 0, 0, 1, 0, 0);
 	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
 	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
 }

 .submenu a:hover {
 	color: #fff;
 	transform: matrix(1, 0, 0, 1, -15, 0);
 	-webkit-transform: matrix(1, 0, 0, 1, -15, 0);
 	-ms-transform: matrix(1, 0, 0, 1, -15, 0);
 }


 .home{margin:13px 0 0 0;}


 /* Hamburger Icon */


 #nav-icon1 {
 	width: 40px;
 	height: 30px;
 	position: fixed;
 	z-index: 500;
 	margin: 23px auto;
 	right: 18px;
 	-webkit-transform: rotate(0deg);
 	-moz-transform: rotate(0deg);
 	-o-transform: rotate(0deg);
 	transform: rotate(0deg);
 	-webkit-transition: .5s ease-in-out;
 	-moz-transition: .5s ease-in-out;
 	-o-transition: .5s ease-in-out;
 	transition: .5s ease-in-out;
 	cursor: pointer;
 }

 #nav-icon1.open{margin: 23px auto;} 

 #nav-icon1 span {
 	display: block;
 	position: absolute;
 	height: 3px;
 	width: 100%;
 	background: #fff;
 	border-radius: 3px;
 	opacity: 1;
 	left: 0;
 	-webkit-transform: rotate(0deg);
 	-moz-transform: rotate(0deg);
 	-o-transform: rotate(0deg);
 	transform: rotate(0deg);
 	-webkit-transition: .35s ease-in-out;
 	-moz-transition: .35s ease-in-out;
 	-o-transition: .35s ease-in-out;
 	transition: .35s ease-in-out;
 }

 #nav-icon1 span:nth-child(1) {
 	top: 0px;
 }

 #nav-icon1 span:nth-child(2) {
 	top: 12px;
 }

 #nav-icon1 span:nth-child(3) {
 	top: 24px;
 }

 #nav-icon1.open span:nth-child(1) {
 	top: 12px;
 	-webkit-transform: rotate(135deg);
 	-moz-transform: rotate(135deg);
 	-o-transform: rotate(135deg);
 	transform: rotate(135deg);
 }

 #nav-icon1.open span:nth-child(2) {
 	opacity: 0;
 	left: -60px;
 }

 #nav-icon1.open span:nth-child(3) {
 	top: 12px;
 	-webkit-transform: rotate(-135deg);
 	-moz-transform: rotate(-135deg);
 	-o-transform: rotate(-135deg);
 	transform: rotate(-135deg);
 }



 /* Next Prev buttons */  

 .middle-nav{position: absolute;width:200px;height:30px;left:-35px;top:90%;z-index:100;margin:0;}

 /*.middle-nav:before{content:"";position: absolute;width:100vw;border-top:1px solid rgba(255, 255, 255, 0.5);top:-13px;left:50%;transform: translate(-50%, 0);}*/

 .scroll-sign{position: absolute;width:200px;height:30px;left:15px;top:90%;z-index:212;margin:0;text-align:left;font-size: 18px;font-family: 'Lato', sans-serif;font-weight: 400;color: #fff;-moz-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 -o-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);	
 -webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);}    

 #arrow-next{
 	width: 60px;
 	height: 30px;
 	text-align: center;
 	cursor: pointer;
 	position: absolute;
 	left:93px;
 	top: -3px;
 	border: 0;
 	outline: 0;
 	z-index: 200;
 	color: #fff;
 	background: transparent;
 	-moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	font-size: 18px;
 	font-family: 'Lato', sans-serif;
 	font-weight: 400;
 }

 .active-arrow-next {
 	opacity: 1!important;
 	-moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .active-arrow-prev {
 	opacity: 1!important;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-next span{
 	display: inline-block;
 	position: relative;
 	left:0;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-next span:before{
 	display: none;
 	position: relative;
 	top: 12px;
 	left: 0px;
 	border-bottom: 1px solid white;
 	width: 0;
 	content: '';
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-next:hover span{
 	left: 0;
 }

 #arrow-next:hover span:before{
 	width: 15px;
 	left: -20px;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-prev{
 	width: 60px;
 	height: 30px;
 	text-align: center;
 	cursor: pointer;
 	position: absolute;
 	left: 37px;
 	top: -3px;
 	border: 0;
 	outline: 0;
 	z-index: 200;
 	color: #fff;
 	background: transparent;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	font-size: 18px;
 	font-family: 'Lato', sans-serif;
 	font-weight: 400;
 }


 #arrow-prev span{
 	display: inline-block;
 	position: relative;
 	left:0;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-prev span:before{
 	display: none;
 	position: relative;
 	top: 12px;
 	right: -35px;
 	border-bottom: 1px solid white;
 	width: 0;
 	content: '';
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 #arrow-prev:hover span{
 	left: 0;
 }

 #arrow-prev:hover span:before{
 	width: 15px;
 	right: -42px;
 	-moz-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .back-orange {
 	left: 100px;
 	top: 27px;
 	z-index: 109;
 }

 .back-orange:before {
 	content: '';
 	width: 16px;
 	height: 2px;
 	left: -20px;
 	top: 13px;
 	display: block;
 	position: relative;
 	background-color:#fecc00;
 	-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 }

 .back-orange:hover:before {
 	width: 0px;
 	left: 0px;
 	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 }


 .back-orange:hover {
 	left:80px;
 	top:27px;
 	cursor: pointer;
 	-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 }    






}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 370px) 
and (orientation : portrait) {

}

@media only screen 
and (min-device-width : 400px) 
and (max-device-width : 600px) 
and (orientation : portrait) {

}




@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {

}