blockquote {
	margin: 0 0 2.4rem 1.2rem;
	border-left: 0.3rem solid #676b72;
	padding: 1.8rem  1.4375rem;
	font-style: italic;
	color: #676b72;
	background-color: #f9f9f9;
	font-size: 1.175rem; 
}
blockquote p {
	max-width: 100%;
	font-size: 1.175rem; 
	padding: 0;
	margin: 0; 
}
blockquote p:last-child {
	padding-bottom: 0; 
}

cite {
	display: block;
	font-size: 74.5%;
	font-style: normal;
	margin-top: 20px; 
}

figure blockquote {
	padding: 26px 0px;
	padding: 1.625rem 0rem; 
}