body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

p{
	@include font-size(1.5); 
	line-height: 1.55;
	color: #333333;
}

small, .font_small {@include font-size(0.667);}

@import "headings";

@import "copy";