body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main; 
	@include font-size(1.235);
	line-height: $font__line-height-body;
}

b, strong {
    font-weight: 400;
}
p{
	@include font-size(1.34); 
	line-height: 1.55;
	color: #333333;
}
article.type-page{
	p{
		padding: 0 0 0 40px;
		margin: 0;
	}
}
small, .font_small {@include font-size(0.667);}

@import "headings";

@import "copy";