 /* MENU ICON */
 #menu-icon {
 	cursor: pointer;
 	width: 74px;
 	height: 64px;
 	position: fixed;
 	z-index: 500;
 	right: 10px;
 	top: 14px;
 }
 #menu-icon:hover {
 	-moz-animation: burger .8s;
 	-webkit-animation: burger .8s;
 	animation: burger .8s;
 }
 .bar {
 	width: 36px;
 	-webkit-transition: all 0.4s;
 	border: 2px solid #333;
 	position: absolute;
 	border-radius: 10px;
 }

 .top {
 	left: 24%;
 	top: 28%;
 }

 .middle {
 	left: 24%;
 	top: 44%;
 	-webkit-transition: all 0.35s;
 }

 .bottom {
 	left: 24%;
 	top: 60%;
 }
 #menu-icon.open .bar{border: 2px solid white;}
 #menu-icon.light-menu.open .bar{border: 2px solid #333;}

 #menu-icon.open .middle {
 	opacity: 0;
 }

 #menu-icon.open .top {
 	-webkit-transform:rotate(45deg);
 	z-index: 1;
 	top:40%;border-radius:10px;background-color:white;
 }

 #menu-icon.open .bottom{
 	-webkit-transform:rotate(-45deg);
 	top:40%;border-radius:10px;background-color:white;
 }

 header.top-header{
 	background-color: white;
 	padding: 12px 20px 0;
 	position: fixed;
 	width: 100%;
 	z-index: 120; 
 	min-height: 70px;
 	top: 0;
 	box-shadow: 0px 0px 10px 0px #b7b7b7;
 }
 .custom-logo-link{
 	position: relative;
 	top: 0;
 	img{
 		width: 60px;
 	}
 }

 @keyframes burger {
 	0% {
 		transform: scale(1, 1);
 	}
 	50% {
 		transform: scale(1.075, 1.075);
 	}
 	100% {
 		transform: scale(1, 1);
 	}
 }
 .compose-mode .vc_element, .view-mode .vc_element { // so VS editor stays on top of our header
    z-index: 190;
}
