 /* MENU ICON */
 #menu-icon {
 	cursor: pointer;
 	width: 74px;
 	height: 64px;
 	position: fixed;
 	z-index: 500;
 	right: 10px;
 	top: 14px;
 }
 #menu-icon:hover {
 	-moz-animation: burger .8s;
 	-webkit-animation: burger .8s;
 	animation: burger .8s;
 }
 .bar {
 	width: 40px;
 	-webkit-transition: all 0.4s;
 	border: 1px solid #333;
 	position: absolute;
 	border-radius: 10px;
 }

 .top {
 	left: 24%;
 	top: 28%;
 }

 .middle {
 	left: 24%;
 	top: 44%;
 	-webkit-transition: all 0.35s;
 }

 .bottom {
 	left: 24%;
 	top: 60%;
 }
 #menu-icon.open .bar{border: 1px solid white;}

 #menu-icon.open .middle {
 	opacity: 0;
 }

 #menu-icon.open .top {
 	-webkit-transform:rotate(45deg);
 	z-index: 1;
 	top:40%;border-radius:10px;background-color:white;
 }

 #menu-icon.open .bottom{
 	-webkit-transform:rotate(-45deg);
 	top:40%;border-radius:10px;background-color:white;
 } 

 header.top-header{
 	background-color: rgba(255, 255, 255, 0.92);
 	padding: 12px 20px 0;
 	position: fixed;
 	width: 100%;
 	z-index: 120;
 	min-height: 70px;
 	max-height: 84px;
 	top: 0;
 	border-bottom: 1px solid #dedede;
 	box-shadow: 0px 0px 10px 4px rgba(183, 183, 183, 0.4);
 }
 .custom-logo-link{
 	position: relative;
 	top: 0;
 	img{
 		width: 60px;
 	}
 }

 @keyframes burger {
 	0% {
 		transform: scale(1, 1);
 	}
 	50% {
 		transform: scale(1.075, 1.075);
 	}
 	100% {
 		transform: scale(1, 1);
 	}
 }
 .compose-mode .vc_element, .view-mode .vc_element { // so VS editor stays on top of our header
 	z-index: 190;
 }

 .page.back-button{
 	font-family: 'Lato', sans-serif;
 	font-weight: 800;
 	font-size: 16px !important;
 	text-transform: uppercase;
 	position: fixed;
 	left: 125px;
 	top: 30px;
 	z-index: 10;
 	width: 70px;
 	text-decoration: none;
 	color: $primary;
 	-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	&:after{
 		content: '';
 		width: 16px;
 		height: 2px;
 		left: -20px;
 		top: -13px;
 		display: block;
 		position: relative;
 		background-color: $primary;
 		-ms-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 		-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 		transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
 	}
 	&:hover{
 		left: 105px;
 		top: 30px;
 		cursor: pointer;
 		-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 		-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 		transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 		&:after{
 			width: 0px;
 			left: 0px;
 			-ms-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 			-webkit-transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 			transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1);
 		}
 	}
 }


 body.transparent_header {
 	header.top-header {
 		background-color: rgba(255, 255, 255, 0);
 		border-bottom: 0;
 		box-shadow: none;
 		top: 30px;
 		padding: 0 34px 0;
 	}
 	#main.site-main {
 		margin-top: 0 !important;
 	}
 	.page-content, .entry-content, .entry-summary {
 		margin-top: 0 !important;
 	}
 	#menu-icon {
 		right: 15px;
 		top: 20px;
 	}
 } 
 header.top-header.dark {
 	background-color: rgb(41, 41, 41);
 	border-bottom: 1px solid #000000;
 	box-shadow: 1px -1px 10px 4px rgba(53, 53, 53, 0.62);
 }
 #search-icon.showsearch.dark{
 	#search-icon:before {
 		background-color: #fff;
 	}
 	[class*=icono-] {
 		color: #fff;
 	}
 }
 .menu-container{
 	#menu-icon.light{
 		.bar {
 			border: 1px solid #fff;
 		}
 	}
 } 