
/*
*
* Sidebar Tabs
* 
*/
#right-container{
	max-width: 360px;
	margin: 20px auto 0; 
}
.tabs-slice {
	margin-top: 50px;
	margin-bottom: 50px
}

.tabs-slice:first-child {
	margin-top: 0
}

@media (max-width: 767px) {
	.tabs-slice {
		margin-top:40px;
		margin-bottom: 40px
	}

	.wrapper--middle .tabs-slice {
		width: 100%
	}
}

a.tab__name {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 15px 25px;
	color: #868686;
	width: 50%;
	font: 16px/30px "Lato",sans-serif;
	background-color: #ececec;
	text-decoration: none;
	cursor: pointer;
	&:visited{
		color: #868686;
	}
	&:active, &:focus{
		outline: none;
	}
}

.lte-ie8 .tab__name {
	*display: inline
}

@media (max-width: 767px) {
	.tab__name {
		padding:15px 6.25% 15px
	}
}

a.tab__name--active {
	background: #ffffff;
	color: #333;
	font-weight: 900;
	box-shadow: -30px -25px 60px 0px rgba(68, 78, 127, 0.1);
	&:visited{
		color: #333;
	}
}

.tab__items {
	margin: 0;
	padding: 6px;
	list-style: none;
	background: #fff
}


.tab__item {
	border-bottom: 1px solid #ededee;
	transition: background-color .2s ease-in-out;
	padding: 20px 25px;
	&:hover {
		background-color: #f7f7f7

	}
}
@media (max-width: 767px) {
	.tab__item {
		padding:0
	}
}
.tab__item:last-child {
	border-bottom: 0
}

.tab__item a {
	text-decoration: none;
	outline: none;
}

.tab__item .posted-on {
	font: 14px/16px "Lato",sans-serif;
	color: #aaaaaf
}



.tab.tab__container--active {
	box-shadow: 0px 10px 100px 0px rgba(68, 78, 127, 0.2);
}


@media (max-width: 767px) {
	.tab__item {
		padding:20px 6.25%
	}
}

.tab__item__link {
	display: block;
	font: bold 20px/25px "Rasa",sans-serif;
	color: #22222a;
	&:visited{
		color: #22222a;
	}
	&:hover{
		color: $primary;
	}
}

@media (max-width: 767px) {
	.tab__item__link {
		font:14px/20px "Rasa",sans-serif
	}
}
