article.single-post, .post-nav{
	max-width: 860px;
	margin: 6.4rem auto 0;
	h1.post-title{
		text-align: center;
		position: relative;
		&:after {
			content: "";
			height: 4px;
			width: 100px;
			background-color: grey;
			position: absolute;
			bottom: -12px;
			left: 50%;
			margin-left: -45px;
		}
	}
	.excerpt-text{
		padding-bottom: 2rem;
		border-bottom: 1px solid #dadada;
	}
} 
.post-nav{
	padding-bottom: 4rem;
	border-bottom: 1px solid #dadada;
	ul{
		margin: 0;
		padding: 0;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			height: 80px;
			width: 1px;
			background-color: #d6d6d6;
			top: -40%;
		}
	}
	.pager.flat span, .pager.flat a {
		border: none;
		display: block;
		padding: 0;
	}
	.label.tag {
		padding: 0;
		background: none;
		border: none;
		text-transform: uppercase;
		font-size: 12px;
	}
	.pager span, .pager a {
		padding-left: 16px;
		padding-right: 16px;
		border-radius: 64px;
		border-color: rgba(0, 0, 0, 0.1);
	}
	.pagination span, .pagination li.active a {
		color: rgba(0, 0, 0, 0.5);
		border-color: #e0e1e1;
		cursor: text;
	}
	.pagination span, .pagination a {
		border-radius: 3px;
		display: inline-block;
		padding: 8px 12px;
		line-height: 1;
		white-space: nowrap;
		border: 1px solid transparent;
	}
	li.next {
		text-align: right;
	}
	.pager.flat a {
		font-weight: 800;
		text-decoration: none;
		color: #333;
		&:hover{
			background: none;
			text-decoration: underline;
			color: rgba(0, 0, 0, 0.5);
		}
	}
}
.post-category, .post-tags {
	margin: 4rem 0 1rem;
	ul, li{
		list-style: none;
		display: inline-block;
	}
	ul{
		margin: 0;
		padding-left: 16px;
	}
	li a{
		color: #000;
		text-decoration: none;
		padding: 12px 16px;
		background-color: #f3f3f3;
		-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
		-ms-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;
		&:hover{
			background-color: #e8e8e8;
		}
	}
	li.cat-item {
		margin-right: 4px;
	}
	li.categories{
		position: relative;
		&:before {
			content: ":";
			position: absolute;
			left: 78px;
		}
	}
}
.post-tags{
	margin: 0;
	margin-bottom: 1rem;
	li.tag-item{
		margin-right: 8px;
		color: #000;
		position: relative;
		margin-left: 14px;
		&:before{
			content: "#";
			position: absolute;
			left: -10px;
			color: #808080;
		}
	}
}